---
const stats = [
  {
    name: 'Years',
    value: '8',
  },
  {
    name: 'Awards',
    value: '3',
  },
  {
    name: 'Digital projects',
    value: '15',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <figure class="mx-auto">
        <img
          class="h-auto w-full max-w-xl rounded-3xl"
          width="576"
          height="864"
          src="/assets/ArielConde-Product-Designer.webp"
          alt="I am Ariel Conde, a designer focused on sustainable solutions that integrate aesthetics and environmental responsibility. My goal is to create experiences that respect our planet and foster a more sustainable future."
        />
        <figcaption class="text-right text-sm text-gray-500 mt-2">
          © June 2021 Elisabet Encina <br>
          <a href="https://elisabetencina.com/" class="text-blue-500 hover:underline">View more 🔗</a>
        </figcaption>
      </figure>
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">My Mission as a Planet-Centric Designer</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              As a planet-centric designer, my mission is to create impactful digital solutions that prioritize sustainability and user experience. I am dedicated to developing innovative designs that not only meet the needs of users but also contribute to a healthier planet. By integrating circular economy principles into my work, I strive to minimize environmental impact while maximizing user engagement and satisfaction.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              I believe that businesses have a unique opportunity to lead the way in sustainability through their digital products. By collaborating with B Corps and like-minded organizations, we can co-create solutions that resonate with conscious consumers and drive meaningful change. Together, we can transform the way we think about design, ensuring that every digital interaction contributes positively to both users and the environment. Let’s work together to make a lasting impact!
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>