---
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Learn about our Cookies Policy and how we use cookies to enhance your browsing experience on our website. This page provides detailed information on cookie types, their purposes, and your rights regarding cookie consent. Discover how you can manage cookie preferences to ensure a personalized and secure online experience."
  title="Cookies policy (UE) · Ariel Conde Portfolio"
>
  <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 sm:py-20 lg:px-8">
    <div class="sm:pb:20 flex flex-col gap-4 pb-16 text-left">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl">Cookies policy (UE)</h1>
    </div>
    <div>
        <p class="mb-4">By accepting the cookies of the welcome banner "cookies warning" that appear in home, you will be consenting to the use of Cookies under the conditions contained in this Cookies Policy. ARIEL CONDE MAÑOSAS provides access to this Cookies Policy at the time of registration so that the user is informed, and without prejudice that the user can exercise their right to block, delete and reject the use of Cookies at any time.
        <p class="mb-4">Given that some of the Cookies are not necessary for the use of this Website, they can be blocked or disabled by activating the browser settings, which allow you to reject the installation of all or some of the cookies. Most browsers allow you to be warned of the presence of cookies or to reject them automatically. If you reject them, you will still be able to use the Website, although the use of some of its services may be limited and therefore the experience will be less satisfactory.</p>
        <p class="mb-4">Below are the links to the main browsers and devices so that you can find all the information you need to consult how to manage cookies in each browser:</p>
        <ul class="list-inside list-disc space-y-4 mb-4">
          <li><a href="https://ecosia.helpscoutdocs.com/article/575-privacy-settings-on-the-ecosia-browser#Cookie-manager-Se1gf" 
            target="_blank" 
            rel="noopener noreferrer" 
            aria-label="Privacy settings on the Ecosia browser">Ecosia 🔗</a></li>
          <li><a href="https://support.google.com/chrome/answer/95647?hl=en&co=GENIE.Platform=Desktop" 
            target="_blank" 
            rel="noopener noreferrer" 
            aria-label="Delete, allow and manage cookies in Chrome">Chrome 🔗</a></li>
          <li><a href="https://support.apple.com/en-gb/105082" 
                  target="_blank" 
                  rel="noopener noreferrer" 
                  aria-label="Clear the history, cache and cookies from Safari on your iPhone, iPad or iPod touch">Safari 🔗 </a></li>
          <li><a href="https://support.microsoft.com/en-us/windows/manage-cookies-in-microsoft-edge-view-allow-block-delete-and-use-168dab11-0753-043d-7c16-ede5947fc64d" 
                        target="_blank" 
                        rel="noopener noreferrer" 
                        aria-label="Manage cookies in Microsoft Edge: View, allow, block, delete and use">Edge 🔗</a></li>
          <li><a href="https://blogs.opera.com/news/2015/08/how-to-manage-cookies-in-opera/" 
                              target="_blank" 
                              rel="noopener noreferrer" 
                              aria-label="How to manage cookies in Opera">Opera 🔗</a></li>
          <li><a href="https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox" 
                                target="_blank" 
                                rel="noopener noreferrer" 
                                aria-label="Clear cookies and site data in Firefox">Firefox 🔗</a></li>
          <li><a href="https://www.samsung.com/uk/support/mobile-devices/using-the-samsung-internet-app/" 
                                  target="_blank" 
                                  rel="noopener noreferrer" 
                                  aria-label="Samsung Internet browser app - how to clear cache, cookies & history">Samsung Internet 🔗</a></li>
          </ul>
          <p class="mb-4">For additional information on how to set up detailed per-provider Cookies or manage preferences, we recommend visiting the "Your Online Choices" portal, the preferences section. 
            <a href="https://www.youronlinechoices.com/" 
                                  target="_blank" 
                                  rel="noopener noreferrer" 
                                  aria-label="A guide to online behavioural advertising">Your Online Choices (Europe Area) 🔗</a>
          </p>
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Description and purpose</h2>
          <p class="mb-4">Cookies are data files created by the website and stored with the user's consent in the browser or on the user's device while browsing the pages or the application, and are used to store information about the visit. Like most sites on the Internet, web portals must:
            <ul class="list-inside list-disc space-y-4 mb-4">
              <li>Ensure that web pages can function correctly.</li>
              <li>Store preferences, such as selected language or font size.</li>
              <li>Improve the user's browsing experience.</li>
              <li>Collect anonymous statistical information, such as which pages have been visited or how long the connection lasted the duration of the connection.</li>
              </ul>
          </p>
          <p class="mb-4">The use of cookies allows us to optimise browsing, adapting the information and services offered to the user's interests, in order to provide a better experience whenever you visit the site.</p>
          <p class="mb-4">Cookies are only associated with an anonymous user and his/her computer/device and do not provide references that allow personal data to be known. At any time, users may access their browser settings to modify and/or block the installation of Cookies sent by www.arielcnd.com websites. Users who complete the registration process or have logged in with their access data will be able to access personalised services adapted to their preferences according to the personal information provided at the time of registration and that stored in the Cookie of their browser.</p>
          <p class="mb-4"> Google Analytics stores cookies in order to compile statistics on the traffic and volume of visits to this website. By using this website you consent to the processing of information about you by Google. Therefore, the exercise of any rights in this regard must be done by communicating directly with Google. Google Analytics cookies are stored on servers located in the United States and Google undertakes not to share them with third parties, except where necessary for the operation of the system or where required by law. According to Google, it does not store your IP address.</p>
          <p class="mb-4">Google Inc. is a company adhered to (Privacy Shield) which guarantees that all data transferred will be treated with a level of protection in accordance with European regulations. You can consult detailed information on this regulation through the following link: 
          <br><a href="https://support.google.com/analytics/answer/6004245" 
            target="_blank" 
            rel="noopener noreferrer" 
            aria-label="A guide to online behavioural advertising">Safeguarding your data 🔗</a></p>
          <p class="mb-4">If you wish, you can use the Google Analytics Opt-out Browser Add-on, which allows you to reject analytical cookies from Google Analytics in all browsers. You can find more information about this at the following link:</p>
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Utility</h2>
          <ul class="list-inside list-disc space-y-4 mb-4">
            <li>From a technical point of view, it allows websites to function more agile and adapted to users' preferences, such as storing the language, the country's currency or detecting the access device.</li>
            <li>Establish levels of protection and security that prevent or hinder cyber-attacks against the website or its users.</li>
            <li>They allow media managers to know statistical data collected in the Cookies to improve the quality and experience of their services.</li>
            <li>They are used to optimise the advertising shown to users, offering the advertising that best suits their interests.</li>
            </ul>
            <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Cookie types</h2>
  <section class="mx-auto max-w-7xl px-4 py-16 sm:px-6 sm:py-20 lg:px-8"><script id="CookieDeclaration" src="https://consent.cookiebot.com/60961a70-3efc-4524-89e6-e206d9663c79/cd.js" type="text/javascript" async></script>
  </section>
    </div>
  </div>
</Layout>