<section class="py-16 sm:py-20" id="about-me">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">About me</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              My name is Ariel Conde and, like many creatives, I spent my childhood playing with Legos, building spaceships with the pieces I had at hand and dreaming of travelling to distant galaxies. I grew up exploring my surroundings by bicycle with my friends, and from a very young age, at the age of ten, I developed an interest in athletics. For me, running became a form of meditation. For many years, I trained in middle-distance running (400 m, 800 m and 1500 m) from Monday to Friday, dedicating two and a half hours every day to this passion, until I was 28 years old. This sport taught me that recognition is very relative; it is always exciting to win a medal or a trophy, but in the end, you are always competing against yourself, both in training and on race day. So the more you train, the more likely you are to be in the lead. After a certain point, one medal more or one less doesn't matter so much; if you've done your best on the day, that's your invisible medal.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Nowadays, it's rare that I don't wear my Asics running shoes on a trip, as I enjoy going out for a 20-minute run and doing some crunches.
            </p>
          </div>
        </div>
      </div>
      <figure class="mx-auto">
        <img
          class="h-auto w-full max-w-xl rounded-3xl"
          width="576"
          height="864"
          src="/assets/RaceAgainstRacismBarbera_ArielConde_1999.webp"
          alt="In this old photo, I am on the podium of the race against racism, where I came second."
        />
        <figcaption class="text-right text-sm text-gray-500 mt-2">
          © July 1999 Daniel Hernández<br>
        </figcaption>
      </figure>
    </div>
  </div>
</section>
