<section class="py-16 sm:py-20">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col items-start gap-8 sm:gap-10">
        <div class="flex flex-col gap-4 sm:gap-6">
        <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
            <div>Product Design Journey</div>
        </h1>
        <p class="text-primary-950/70 dark:text-primary-200/70 text-sm sm:text-base italic mt-2">
            - Last updated: January 19, 2025
        <p class="text-primary-950/70 dark:text-primary-200/70 text-lg sm:text-xl">
            Hey there! Welcome to my portfolio. I'm a digital product designer, and I'm excited to share my work with you.
To check out my latest projects, just click the button below. Happy exploring!
        </div>
        <a
href="#about-me"
class="inline-flex items-center justify-center rounded-full border-2 border-primary-600 dark:border-primary-400 px-5 py-3 text-base font-medium text-primary-600 dark:text-primary-400 transition hover:bg-primary-100 dark:hover:bg-primary-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400"
aria-label="Scroll down the latest version of Ariel Conde's portfolio in PDF format"
>
<svg 
xmlns="http://www.w3.org/2000/svg" 
width="24" 
height="24" 
viewBox="0 0 24 24" 
fill="none" 
stroke="currentColor" 
stroke-width="2" 
stroke-linecap="round" 
stroke-linejoin="round" 
class="h-6 w-6"
>
<path d="M12 5v14"/>
<path d="m19 12-7 7-7-7"/>
</svg>
<span class="ml-2">Discover below</span>
</a>
    </div>
    </div>
</section>