<section class="py-16 sm:py-20">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
        <div class="flex flex-col gap-10">
          <!-- Mission description -->
          <div class="space-y-8 sm:space-y-12">
            <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Design Process</h2>
            <div class="space-y-6">
              <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                My design process is based on the integration of Lean UX methodologies and sustainable design principles, allowing me to create digital products that are not only functional, but also environmentally friendly1. I start with extensive user research, where I identify their needs and pain points. From there, I develop interactive prototypes and wireframes that make the navigation and interface easier to visualize. Collaboration with multidisciplinary teams is fundamental to my approach, as it fosters innovation and ensures that each solution is accessible and user-focused. Additionally, I implement SEO optimization practices to improve the visibility of products in search engines, ensuring they reach the right audience.
              </p>
            </div>
          </div>
        </div>
        <figure class="mx-auto">
          <img
            class="h-auto w-full max-w-xl rounded-3xl"
            width="576"
            height="864"
            src="/assets/DesginProccess_ArielConde_PlanetCentric_2024.webp"
            alt="I blend Lean UX and sustainable design to create functional, eco-friendly digital products. My process starts with user research, followed by interactive prototypes and collaboration with diverse teams. I also focus on SEO optimization for better visibility."
          />
        </figure>
      </div>
    </div>
  </section>  