<section class="py-16 sm:py-20">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
        <figure class="mx-auto">
          <img
            class="h-auto w-full max-w-xl rounded-3xl"
            width="576"
            height="864"
            src="/assets/EDigitalMessagePhotoSeries_2015.webp"
            alt="A digitally illuminated letter with effects, symbolizing the distortion of messages due to information overload."
          />
          <figcaption class="text-right text-sm text-gray-500 mt-2">
            © June 2015 Ariel Conde
          </figcaption>
        </figure>
        <div class="flex flex-col gap-10">
          <!-- Mission description -->
          <div class="space-y-8 sm:space-y-12">
            <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Design Values</h2>
            <div class="space-y-6">
              <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                My design values ​​focus on sustainability, accessibility and inclusivity. I firmly believe that design should be a tool for positive change, contributing to a more sustainable future. Therefore, I prioritize the use of materials and processes that minimize environmental impact. Accessibility is another fundamental pillar; I strive to create experiences that are usable for everyone, regardless of their abilities. Additionally, I value transparency and ethics in design, ensuring that each decision is aligned with the needs of the user and the principles of social responsibility. My goal is to design solutions that not only solve problems, but also enrich people's lives and the environment in which we live.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>