<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <figure class="mx-auto">
        <img
          class="h-auto w-full max-w-xl rounded-3xl"
          width="576"
          height="864"
          src="/assets/WhoIAm2_ArielConde_ProductDesigner_2021.webp"
          alt="In the portrait, I look diagonally at the sky, dressed elegantly. As a Digital Products and Services Designer at Regeneralia, I optimize processes for triple impact and enhance user experience, driven by my passion for meaningful projects."
        />
        <figcaption class="text-right text-sm text-gray-500 mt-2">
          © June 2021 Elisabet Encina <br>
          <a href="https://elisabetencina.com/" class="text-blue-500 hover:underline">View more 🔗</a>
        </figcaption>
      </figure>
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Who am I</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              I am a Digital Products and Services Designer at Regeneralia. My work focuses on collaborating with different clients to optimise their processes to achieve triple impact. I like to find ways to improve communication and make things work better.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Before founding Regeneralia, I worked at FSGROUP Engineering and Marina Digital Project, where I helped improve design systems and user experience. I've learned a lot along the way and I'm passionate about applying that knowledge to make life easier for others.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              I've received some accolades in branding and design, but what really matters to me is being able to contribute to projects that make a difference. I'm here to help others optimise their processes and improve communication, always looking for ways to make things more efficient.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
